# Other Regression Techniques and Tools for Evaluation

This is an exercise from Chapter 6 of the __Data Science for Marketing Analytics__ book on PacktPub.com

In [20]:
# importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
#from sklearn.linear_model import LinearRegression

In [22]:
# reading in dataset
df = pd.read_csv('./datasets/offer_responses.csv')
df.head()

   responses  offer_discount  offer_quality  offer_reach
0     4151.0            26.0      10.257680      31344.0
1     3397.0            35.0      15.194380      24016.0
2     3274.0            21.0      13.971468      28832.0
3     3426.0            27.0       6.054338      26747.0
4     5745.0            42.0      16.801365      46968.0